body {font-family: Helvetica,Arial,sans-serif;}

/* Global layout*/
/*.layout-expand-west {border-right: 4px solid #fff}*/
.main-header-content {width: 100%; height: 50px; padding: 0; overflow: hidden; background-color: white;}
.main-header-content > .logo {height: 50px; line-height: 50px; padding-right: 10px; vertical-align: middle; display:inline-block; font-size: 24px;}
.main-header-content > .logo.hamburger {font-size: 17px; padding-left: 12px;}
.main-header-content > .logo a {color: inherit; text-decoration: inherit; color: #999;}
.main-header-content .top-toolbar {float:right; padding: 10px;}
.main-content {padding: 0 5px 5px 0;}
.main-content.layout-body {border-top: 5px solid transparent; border-top-width: 5px !important; background-color: white;}
body > .layout-panel-west.exf-hidden + .layout-panel-center > .main-content {padding-left: 5px}

ul.nav_menu {list-style: none; font-size: 12px; list-style-position: inside; margin:0; padding: 0; overflow-x: hidden;}
ul.nav_menu li {border-bottom: 1px solid #ccc;}
ul.nav_menu li ul {list-style: none; list-style-position: inside; padding: 0 0 5px 20px;}
ul.nav_menu li ul li {border: none;}
ul.nav_menu a {padding: 6px 0 6px 10px; color: black; text-decoration: none; display: block; width: 100%;}
ul.nav_menu li.active a.current {font-weight: bold; text-decoration: none;}
ul.nav_menu a:hover {background: #9cc8f7; color: #404040;}
ul.nav_menu li.active a.current {color: white; background: #6caef5}
.main-left-menu {width: 200px;}
.main-left-menu > .accordion .accordion-header-selected {background: inherit;}
.main-left-menu > .accordion .accordion-header-selected > .panel-title {color: inherit}

@media only screen and (max-width: 800px) {
	body > .layout-split-west {display: none;}
}

.exf-hidden {display: none;}

/* Font awsome */
.fa {padding: 1px;}
.l-btn-plain .fa {padding: 2px;}
.menu-icon.fa {font-size: 12px; padding: 2px;}
.pagination .fa {font-size: 16px; padding: 0;}
.dialog-button .fa, .dialog-button .l-button-plain.fa {font-size: 12px; padding: 2px;}
.panel-tool-a.fa {font-size: 14px; padding: 1px 0 1px 3px; text-decoration: none; color: black;}
.panel-icon.fa {padding: 0;}

/* Context bar */
.toolbar-element {height: 30px; display:inline-block; line-height: 30px; vertical-align: top; }
.toolbar-element.user-info {padding: 0 10px; border-right: 1px solid #c3d9e0; border-left: 1px solid #c3d9e0;}
.toolbar-element.user-info .user-display {vertical-align: top; display: inline-block; padding: 1px 0 0 0}
.toolbar-element.user-info .user-image {padding-right: 7px;}
.toolbar-element .panel-loading {height: 10px}
.toolbar-element .fa {font-size: 14px; padding: 0; color: #999}

/* Toolbars for widgets */
.exf-toolbar {padding: 5px 2px; min-height: 26px;}
.exf-btn-group {display: inline-block}
.exf-data-toolbar, .panel-footer.datatable-toolbar {border-width: 0;}
.exf-data-header {padding: 0; border-width: 0}
.exf-data-header > div:first-of-type > .grid {padding-top: 4px;}
.exf-data-header.panel-body {background: #f5f5f5;}
.dialog-button .exf-toolbar {padding: 0;}

/* Inputs */
.exf-labeled-item {display: inline-block; height: 100%; vertical-align: middle;}
.exf-input, .exf-display, .exf-inline-group {box-sizing: border-box; padding:4px; text-align:right;}
.exf-input > *, .exf-display > * {text-align:initial;}
.exf-input label,
.exf-inline-group:not(.exf-inline-display) > label {margin: 0 3px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
.exf-input textarea {vertical-align:middle;border: 1px solid #c3d9e0; tab-size: 4}
.exf-display .exf-labeled-item,
.exf-inline-display .exf-labeled-item {text-align: left; font-weight: bold; padding-left: 3px;}
.exf-display *, .exf-inline-group * {text-align: initial;}
.exf-display > label, .exf-display > .exf-labeled-item {vertical-align: top}
.numberbox input {text-align: right;}
fieldset.exface_inputgroup {border-color: #95B8E7; border-width: 1px 0 0 0; padding: 10px 0; margin: 15px 0 0 0;}
fieldset.exface_inputgroup legend {color: #404040; font-weight: bold; padding: 0 6px; margin: 0 10px;}
.exf-inputPassword > div {text-align: right;}
.exf-inputPassword > div + div {padding: 8px 0 0 0; }
.exf-control.promoted label {font-weight: bold;}

/* Widget groups */
.exf-widget-group.exf-autoheight > .panel > .panel-body {height: auto !important}
.exf-panel-flat > .panel > .panel-header {background: none; padding-top: 6px; margin-bottom: 4px;}

/* Inline groups */
.exf-inline-group .exf-control {padding-left: 0px !important; display: inline-block !important; min-width: 0px !important; }
.exf-inline-group .exf-control:last-of-type {padding-right: 0px !important;}
.exf-inline-group:not(.exf-inline-display) {padding-top: 0px !important; padding-bottom: 0px !important;}
.exf-inline-group.exf-inline-display .exf-control {padding-top: 0px !important; padding-bottom: 0px !important;}
.exf-inline-group p {display: inline-block !important; padding: 0; margin: 0;}
.exf-inline-group label {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
.exf-inline-group 
/* Carousel */
.exf-widget-carousel ul.tabs {width: 100%; text-align: center}
.exf-widget-carousel ul.tabs li {float: none;}

/* Wizard */
.exf-wizard > .tabs-header > .tabs-wrap > ul.tabs > li:after {content: "›"; padding: 0 0 0 4px; font-weight: bold; font-size: 120%;}
.exf-wizard > .tabs-header > .tabs-wrap > ul.tabs > li:last-of-type:after {content: "";}

/* Text & headings */
.panel-body h1, .panel-body h2, .panel-body h3, .panel-body h4, .panel-body h5, .panel-body p, .panel-body pre {padding: 0 10px;}
.panel-body h1 {margin: 10px 0 5px 0}
.exf-text {display: block; width: 100%}
p.exf-text {padding: 0}

/* Context menus */
.easyui-menu .menu-item {float: none !important;}
.exf-menu-group-title {font-weight: bold;}

/* jEasyUI customizing */
div.panel-body{background-color:#fff;}
div.messager-body{overflow-y: auto;}
.window .window-header .panel-with-icon {padding-left: 21px !important;}
.dialog-button {min-height: 26px; text-align: left !important}

/* Dialog */
.exf-dialog-header {background-color: #daeef5 !important;}
.exf-dialog-header .easyui-panel {background-color: transparent !important; border: none;}

/* TextDiff widget */
.difftext-container {border: 1px solid #c3d9e0;}
.difftext-diff del {text-decoration: line-through; color: white; background-color: red;}
.difftext-diff ins {text-decoration: none; color: white; background-color: green;}

/* Messages */
.exf-message-list {margin: 4px 4px 2px 4px;}
.exf-message-list:empty {display: none;}
.exf-message {padding: 5px; color: white; margin: 2px 0; min-height: 38px; background-color: lightgray;}
.exf-message a {color: white;}
.exf-message-icon {float: left; width: 50px; text-align: center; height: 2em; line-height: 2em;}
.exf-message-icon > i {font-size: 2em; color: white;}
.exf-message-title {font-weight: bold; margin-left: 50px;}
.exf-message-text {margin-left: 50px;}
.exf-message.error {background-color: #dd4b39 !important}
.exf-message.warning {background-color: #f39c12 !important}
.exf-message.info {background-color: #00c0ef !important}
.exf-message.success {background-color: #00a65a !important}
.exf-message.hint {background-color: transparent; font-style: italic; color: inherit;}
.exf-message.hint .exf-message-icon > i {color: black}

/* InputJson widget */
.jsoneditor {text-align: left;}
.exf-control .jsoneditor div.outer {margin: 0;}

/* Markdown */
.markdown-body {font-size: 14px !important;}
.easyui-dialog > .markdown-body {padding: 20px 10px 10px 10px}

/* jQuery FileUpload */
.fileupload-files{margin-top: 10px;}
.fileupload-inner{line-height: 110px; vertical-align: middle;}
.fileupload-inner > * {line-height: normal; display: inline-block; padding: 5px; }
.fileupload-preview {vertical-align: top; width: 110px;}
.fileupload-desc {font-weight: bold}
.fileupload-filename {color: grey}

/* flot charts */
.tooltip-inner { max-width: 200px; padding: 3px 8px; color: #fff; text-align: center; background-color: #000; border-radius: 4px;}

/* datagrid, treegrid */
.datagrid .tree-icon {background: none; width: 2px;}
.datagrid-footer .tree-icon {background: none; width: 2px;}
.datagrid td .datagrid-cell {text-overflow: inherit;} /* makes the use of text-overflow in cell styler possible */
.datagrid td .datagrid-cell.tree-node {white-space: nowrap !important}
.datagrid-empty {top: 50% !important;}

/* spinner */
body > .spinner-bg {height: 100vh; width: 100vw;}
body > .spinner-bg > .panel-loading {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 34px}

/* Symfony Debugger */
#sf-resetcontent {padding: 20px 10px 0 10px; width: auto !important; max-width: 970px;} 
#sf-resetcontent h1 {display: none;} 
h2.block_exception.clear_fix {margin: 0}
pre.sf-dump {background-color: white !important; margin: 10px;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}

/* DataTables */
.datagrid-empty {line-height: initial; height: auto; min-height: 25px;}

/* Tile widget */
.exf-tile {padding: 4px;} /* This makes a stand-alone tile have the same padding as .exf-grid-item.exf-tile */
.exf-tile-box { position: relative; background-color: #fafafa; border: 1px solid #c3d9e0; height: 100%; overflow: hidden;}
.exf-tile-box h3, .exf-tile-box p { overflow: hidden; text-overflow: ellipsis;}
.exf-tile-box h3 { white-space: nowrap;}
.exf-tile-box p { max-height: 28px; }
.exf-tile-icon { position: absolute; top: 8px; right: 8px; font-size: 28px; color: rgba(0, 0, 0, 0.15); }

/* Slick carousel: ImageGallery */
.slick-carousel.horizontal .slick-list {padding: 10px; box-sizing: border-box;}
.slick-carousel.horizontal .slick-list, 
.slick-carousel.horizontal .slick-track, 
.slick-carousel.horizontal .slick-slide, 
.slick-carousel.horizontal .slick-slide img {height: 100%}
.slick-carousel.horizontal .slick-slide {margin-left: 10px; box-sizing: border-box;}
.slick-carousel.horizontal .slick-prev.slick-arrow {left: 5px; z-index: 1;}
.slick-carousel.horizontal .slick-next.slick-arrow {right: 5px; z-index: 1;}
.slick-carousel.horizontal .slick-arrow:before {color: #404040}
.slick-carousel .slick-slide.selected {border: 5px solid #9cc8f7}
.slick-lightbox .slick-prev.slick-arrow {z-index: 1}
.imagecarousel-file {height: 100%; width: 150px; position: relative; background-color: #f5f5f5; cursor: pointer;}
.imagecarousel-file > i {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 200%}
.imagecarousel-title {bottom: 5px; position: absolute; padding: 2px; font-size: 0.8rem; text-align: center;}
.imagecarousel-overlay {position: absolute; top: 0; width: 100%; height: 100%}
.imagecarousel-nodata {position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%, -50%);}
.imagecarousel-nodata i.fa {font-size: 60px; margin-bottom: 10px; color: #dfdfdf;}

.imagecarousel-loading {z-index: 1}
.imagecarousel-loading > .datagrid-mask {z-index: 1; opacity: 0.5}
.imagecarousel-loading > .datagrid-mask-msg {z-index: 1; background-position-x: 9px; margin-left: 8px !important}

/* jExcel */
.jexcel {border-top: 0 !important; border-left: 0 !important; width: 100% !important; table-layout: auto !important;}
.jexcel_container {padding-right: 0 !important; overflow-x: auto; width: 100%; height: 100%}
.jexcel_content {width: 100%; padding: 0 !important;}
.jexcel_row, .jexcel_selectall {padding-left: 5px !important; padding-right: 5px !important; max-width: 4em}
.jexcel>thead.footer>tr>td {background-color: white; font-weight: bold; border-top: 1px solid #666;}
.jexcel>thead>tr {height: 23px;}
.jexcel>thead>tr>td {text-align: left !important; padding: 0 4px !important;}
.jexcel td {overflow: hidden; text-overflow: ellipsis;}
.jexcel td.highlight-selected > * {min-width: 3em; width: auto;}
.jexcel td.editor > input {width: 100% !important; text-align: inherit !important; font-family: inherit; font-size: inherit; padding: 0;}
.jexcel>tbody>tr {height: 25px;}
.exf-spreadsheet {overflow: visible;}
.panel:has(.exf-spreadsheet) {overflow: visible;}
.exf-grid-item:has(.exf-spreadsheet) {overflow: visible;}
.exf-spreadsheet-change {position: relative}
.exf-spreadsheet-change::before {content: "◤"; color: #89919a; font-size: 12px; position: absolute; left: 0; top: 0; margin-left: -2px; margin-top: -3px}
.exf-spreadsheet-invalid {background-color: #ffebeb;}
.exf-spreadsheet-invalid::before {color: #b00;}

/* DataImporter */
.exf-dataimporter > .jexcel_container {height: calc(100% - 42px)}

/* Login, Errors, etc. */
.exf-ajax-error > .exf-loginprompt-wrapper {margin-top: 25%}
.exf-loginprompt-wrapper > .exf-message {margin-left: auto; margin-right: auto}
.exf-loginprompt {margin-left: auto; margin-right: auto}
.exf-loginprompt > .tabs-panels > .panel > .panel-body > .panel > .panel-body {padding: 20px; height: auto !important; width: auto !important;}

/* NavCrumbs */
.exf-navcrumbs a {text-decoration: underline;}

/* Cards */
.exf-card > .panel > .easyui-panel > .panel > .easyui-panel > .easyui-menu.menu {padding: 1px;}


/* Tabs */
.tabs-panels > .panel {width: 100% !important}
.tabs-panels > .panel > .panel-body {width: 100% !important}

/* QR code */
.exf-qrcode {text-align: center;}

/* Map */
.exf-map-popup h3 {padding-left: 0}
.exf-map-popup-table > tbody > tr > td:nth-of-type(2) {font-weight: bold}
.exf-map .extra-marker > i.fa-map-marker {margin-top: 8px;}
.exf-map .leaflet-marker-icon.selected::before {
    content: '';
    display: block;
    width: 40px;
    height: 27px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    border: 5px solid gray;
    position: absolute;
    top: 23px;
    left: -7px;
    z-index: -1;
}
.exf-map .marker-cluster {background-clip: padding-box; border-radius: 20px;}
.exf-map .marker-cluster div {width: 30px; height: 30px; margin-left: 5px; margin-top: 5px; color: white; text-align: center; border-radius: 15px;}
.exf-map .marker-cluster i {line-height: 30px;}

/* Masonry */
/* Fix for strange margins on the right of SplitPanels due to masonry concurrency effects */
.exf-splitpanel {width: auto !important;}
.datagrid-body {width: auto !important;}
.easyui-dialog.panel-body {width: auto !important;}
.dialog-button {width: auto !important;}
.accordion-body {width: auto !important;}
.panel-body {width: auto !important;}

/* TOAST UI Editor */
.tui-tooltip {z-index: 999999 !important;}
.markdown-editor.fullscreen {position: fixed; top: 0; left: 0; z-index: 10050; width: 100%!important;}
.toastui-editor-defaultUI {background-color: white; overflow: hidden;}

/* InputTags */
.exf-tag {margin: 4px 0px;}
.exf-tag-container {padding: 0 4px 4px 4px;}

/* Splits */
.layout-split-east {border-color: transparent !important}
.layout-split-west {border-color: transparent !important}
.layout-split-north {border-color: transparent !important}
.layout-split-south {border-color: transparent !important}
.layout-panel > .exf-splitpanel {border: 0}
.layout-split-north > .panel-body, .layout-panel-center > .panel-body {border-width: 0;}

.easyui-dialog {border-width: 0 !important}
.easyui-dialog + .exf-dialog-footer {border-left-width: 0; border-right-width: 0; border-bottom-width: 0;}
.easyui-dialog > .panel > .exf-widgetgrid {border-width: 0}

/* Dashboard */
.exf-dashboard.panel-body {border: 0 !important; margin-left: -4px; margin-top: -4px;}

/* Charts */
.exf-chart-wrapper .datatable-toolbar {border-bottom-width: 1px;}

/* ProgressBar */
.exf-progressbar {width: 100%; padding: 0 3px; border:1px solid #ccc; position:relative; overflow: hidden; white-space:nowrap; color:transparent; box-sizing: border-box;}
.exf-progressbar-bar {position: absolute; left:0; top:0;}
.exf-progressbar-text {position:absolute; left:0; top:0; z-index:100; padding:0 2px; width:100%; color:initial; overflow: hidden; text-overflow: ellipsis;}

/* Debug */
table.debug-profiler {border-collapse: collapse}
table.debug-profiler th {font-size: 80%; padding: 3px;}
table.debug-profiler td {font-size: 80%; padding: 3px; border: 1px solid lightgray;} 
table.debug-profiler tr.action > td > .waterfall-bar {background-color: lightcoral !important;}
table.debug-profiler tr.query > td > .waterfall-bar {background-color: lightblue !important;}
table.debug-profiler tr.event > td > .waterfall-bar {background-color: gray !important; font-weight: bold;}

