/* Global layout */
.main-header-content {background-color: #9cc8f7}
.exf-data-header.panel-body {background: #fafafa}
div.panel-header {background-color: #fafafa}
.exf-dialog-header {background-color: #f5f5f5 !important;}
.window > .window-header {background-color: #f5f5f5; border-bottom-color: transparent;}
.exf-dialog-footer {background-color: #fafafa}
.exf-tile-box {background-color: #fafafa; border-color: #c3d9e0;}
body a {color: #9cc8f7;}

.l-btn:not(.l-btn-plain) {background-color: #9cc8f7; border-color: #9cc8f7;}
.window .dialog-button .l-btn:not(.l-btn-plain) {background-color: #9cc8f7}		

/* NavMenu */
ul.nav_menu li.level1 > ul {border-top: 1px solid #c3d9e0; border-bottom: 1px solid #c3d9e0; background: #fafafa}
ul.nav_menu li.level1.active > a.current {background: transparent}
ul.nav_menu a:hover {background-color: #9cc8f7; color: white;} 
ul.nav_menu li.active a.current {background-color: #fafafa; color: #6200ee;}
ul.nav_menu a {color: black;}

/* NavCrumbs */
.exf-navcrumbs a {text-decoration: none; color: #6200ee; font-weight: normal;}

/* Global layout */
.main-header.layout-body {height:50px;}
.main-content > .exf-element > .datagrid > .datagrid-wrap.panel-body {border-top-width: 1px}
.main-content > .easyui-tabs > .tabs-header {border-top: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf}